<div class="modal-header">
  <h3 class="modal-title">Unlock an Identity</h3>
</div>
<div class="modal-body">
  <div class="input-group">
    <span class="input-group-addon"><i class="fa fa-key fa-fw"></i></span>
      <input ng-model="pass.phrase" type="text" class="form-control" placeholder="Passphrase">
  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" ng-click="ok()">Unlock Identity</button>
  <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>
